
.container-flip{
    perspective: 1000px;
    color:black;
}

.background{
    background-image: url(https://i.pinimg.com/736x/05/b7/56/05b756670828a617bd5e69820ad83523.jpg);
}

.glitter_gif{
    display: flex;
    justify-content:space-evenly;
    width:100%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.title{
    display:flex;
    padding:0, 100pxo, 0, 10;
    margin-left: auto;
    justify-content: center;
    font-family: 'Times New Roman', 'Times New Roman', Times, serif, serif;
}

.container-flip:hover .flipout, .container-flip.hover .flipout{
    transform:rotateY(180deg);
}

.container-flip, .fronter, .backer{
    width: 300px;
    height: 300px;
}

.flipout{
    width:100%;
    height:100%;
    transition: 0.5s;
    transform-style : preserve-3d;
    position:relative;
}

.fronter, .backer{
    backface-visibility: hidden;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius: 10px;
    border: 2px solid black;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    padding:10px;
}

.fronter img {
 width:100px;
 height:100px;
}

.backer{
    transform: rotateY(180deg);
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto;
    gap:1rem;
    padding : 1rem;
    text-align:left;
    font-size: 10px;
}
#pokemonContainer{
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    justify-items: center;
    padding :25px;
}

.grid-child{
    background-color: rgb(238, 163, 177);
    border-radius :10px;
    padding: 0.25rem;
    font-size:0.75rem;
    outline: 1.5px solid black;
}


#inputSearch{
    width: 500px;

    padding: 6px;
    margin-top: 10px;
    border: 2px solid gray;
    border-radius: 2px;
}

#inputSearch:hover{
    border: 2px solid black
}





